.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 8px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;

  a {
    text-decoration: none;
    color: #ffffffa3;
  }

  .delete_tag {
    position: absolute;
    top: 2px;
    right: 8px;

  }

  .list_name {
    a {
      color: white;
    }
  }

  .bookmark_img {
    background-position: top;
  }
}

.card-bookmark {
  background-size: cover;
  background-position: top;
  height: 180px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;


  a {
    text-decoration: none;
    color: #ffffffa3;
  }

  .delete_tag {
    position: absolute;
    top: 2px;
    right: 8px;

  }

  .list_name {
    a {
      color: white;
    }
  }

  .bookmark_img {
    background-position: top;
    position: absolute;
    left: 0;
  }

  p {
    font-size: 16px;
    width: 180px;
    margin-left: 16px;
  }
}

.bookmarks_footer {
  display: flex;
  gap: 8px;
  margin-top: 40px;

  .btn {
    background-color: #00000021;
    border-radius: 4px;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.list_form {
  width: 560px;
  color: #c8c2c2;
  margin-top: 60px;

  .back {
    margin-top: 80px;
    background-color: #0505e880;
    border-radius: 8px;
  }
}
